<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
      </button>
          <a class="navbar-brand myLogo" href="/#/">
           <%= image_tag 'logo.png', width:"100", height:"55" %>
          </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/intro"><strong>Instructions</strong></a></li>
        <li><a href="#/vocabs"><strong>Vocabulary</strong></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#/profile">Edit Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="#/">Log Out</a></li>
      </ul>

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>

<div class="well well-lg center" ng-init="flashcard_clicked=false" ng-click="flashcard_clicked = !flashcard_clicked">
  {{ vocabsArr[vocab_index].chinese }}
  <div ng-show="flashcard_clicked">
    {{ vocabsArr[vocab_index].pinyin }} |
    {{ vocabsArr[vocab_index].english }}
  </div>
</div>
<nav>
  <ul class="pagination">
    <li>
      <a aria-label="Previous" ng-click="vocab_index = vocab_index - 1; flashcard_clicked=false" ng-init="vocab_index=0" >
        <span aria-hidden="true">&laquo;</span>
      </a>
    </li>
    <li><a href="#">{{vocab_index+1}}</a></li>
    <li>
      <a aria-label="Next"
        ng-click="vocab_index = vocab_index + 1; flashcard_clicked=false" disabled="{{vocab_index >= vocabsArr.length}}">
        <span aria-hidden="true">&raquo;</span>
      </a>
    </li>
  </ul>
</nav>

