<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand myLogo" href="/#/">
      <img src="<%= asset_path('logo.png') %>" width="100" height="55" >
      </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-left">
        <li><a href="#/idioms"><strong>Read & Test / Idioms</strong></a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="#/profile">Edit Profile <span class="sr-only">(current)</span></a></li>
        <li><a href="#/">Log Out</a></li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
<div class="container">
  <div class="row">
    <div class="col-xs-8">
      <h1>Chinese pinyin annotator/Translator to english</h1>

        <form name="myForm" ng-submit="article()">

             <label>Insert Your Chinese Article Here!</label>
            <textarea class="form-control" rows="5" ng-model= "newArticle.chinese"></textarea>

             <div class="checkbox">
                <label>
                <input type="checkbox" ng-model="checkboxModel.value1"> Convert to Simplified or Traditional Characters
                </label>
              </div>
            <!-- <tt>Convert to simplified or traditional</tt><br/> -->
            <button type="submit" class="btn btn-default">Submit</button>

        </form>
      <br>
    <label> Pin Yin Annotated Article with English Translation
    </label>
    <textarea class="form-control" rows="5" ng-model="translated">
    </textarea>
    <br>
    <form ng-submit="form.create()">
      <div class="form-group">
        <label>chinese</label>
        <input type="text" class="form-control" placeholder="Enter chinese characters" ng-model="newVocab.chinese">
      </div>
      <div class="form-group">
        <label>pin yin</label>
        <input type="text" class="form-control" placeholder="Enter pinyin" ng-model="newVocab.pinyin">
      </div>
      <div class="form-group">
        <label>english</label>
        <input type="text" class="form-control" placeholder="Enter english" ng-model="newVocab.english">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

  <div class="col-xs-4 vocabpanel">
    <div class="panel panel-default">
      <div class="panel-heading"><span>Vocabulary</span></div>
      <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item" ng-repeat="vocab in vocabsArr track by $index">
            <strong>{{ vocab.chinese }} ({{ vocab.pinyin }})</strong> | {{ vocab.english }}
            <button ng-click="edit($index)">Edit</button>
            <button ng-click="delete($index, vocab.id)">Delete</button>
          </li>
        </ul>
        </div>
      </div>
    </div>
  </div>
</div>



