body {

background-image: url(background4.jpg);
background-size: 100%;
}

.myLogo {
  padding:5px;
}

h4 {

  margin: 1em;
}


h5 {

  padding-right: 9em;
  padding-left: 9em;
}

p {

  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

li {
  padding: 0.5em;
}

.impact {
  font-family: Impact;
  font-style: none;
  font-size: 700px;
  font-style: normal;
  font-weight: 400;
}

.col-xs-4.vocabpanel {

   padding-top: 30em;
}

#landing {
  background-color: none;

  #buttons-login {
    background-color: none;
  }
}
